body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
    background: black;
    color: neongreen;
}

.container {
    text-align: center;
    animation: sparkle 10s infinite;
}

.title {
    font-size: 3rem;
    color: lime;
    text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 20px lime;
    animation: glow 1.5s ease-in-out infinite alternate;
}

.generator {
    margin-top: 30px;
}

#generate-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: lime;
    border: none;
    color: black;
    cursor: pointer;
}

#generated-account {
    margin-top: 20px;
    font-size: 1.5rem;
    color: lime;
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 20px lime;
    }
    to {
        text-shadow: 0 0 20px lime, 0 0 30px lime, 0 0 40px lime;
    }
}

@keyframes sparkle {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}
